@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@300;400;500;600;700&display=swap');

.section {
    background: var(--bg-dark-700);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    color: white;
}

.btn {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--skin-color);
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.05);
}

.hidden {
    display: none !important;
}

.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.side-bar {
    width: 270px;
    background: var(--bg-dark-900);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    border-right: 1px solid rgb(128,128,128, 0.5);
    display: flex;
    justify-content: center;
    z-index: 10;
}

.sidebar-menu {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo {
    margin-top: 50px;
}

.logo button {
    background-color: transparent;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 5px;
    text-decoration: none;
    padding: 15px 25px;
    outline: none;
    border: none;
    position: relative;
    color: white;
}

.logo button::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
}

.logo button::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
}

.logo button span {
    font-family: 'Clicker Script', cursive;
    font-size: 40px;
}

.sidebar-item {
    height: 100%;
    display: flex;
    align-items: center;
}

.menu-sidebar {
    display: flex;
    flex-direction: column;
}

.menu-sidebar .active {
    color: var(--skin-color);
}

.menu-sidebar button {
    color: white;
    font-weight: 600;
    background: transparent;
    border: none;
    padding: 15px 25px;
    margin: 8px 0;
    border-bottom: 1px solid rgb(128,128,128, 0.5);
    text-decoration: none;
}

.menu-sidebar button:hover {
    color: var(--skin-color);
}

.active {
    color: var(--bg-black-50);
}

.menu-sidebar i {
    margin-right: 15px;
}

.main-content {
    padding-left: 270px;
}

.nav-toggler {
    height: 40px;
    width: 45px;
    border: 2px solid var(--bg-dark-900);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 18px;
    border-radius: 5px;
    background: var(--bg-dark-700);
    display: none;
    align-items: center;
    justify-content: center;
}

.nav-toggler span {
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}

.nav-toggler span::before {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}

.nav-toggler span::after {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}


/* HOMEPAGE */
.home {
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}

.home-info {
    flex: 0 0 60%;
    max-width: 60%;
}

.hello {
    font-weight: 700;
    font-size: 28px;
    margin: 15px 0;
}

.hello span {
    font-family: 'Clicker Script', cursive;
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
}

.my-profession {
    font-weight: 700;
    font-size: 30px;
    margin: 15px 0;
    color: white;
    display: flex;
}

.my-profession span {
    color: var(--skin-color);
}

.home-info p {
    margin-bottom: 70px;
    font-size: 20px;
    color: whitesmoke;
}

.home .home-img {
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}

.home-img::before {
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);
    left: 0px;
    top: -40px;
}

.home-img::after {
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);
    right: 20px;
    bottom: -40px;
}

.home-img img {
    margin: auto;
    border-radius: 5px;
    height: 400px;
}

/* ABOUTPAGE */
.about {
    padding: 0 30px;
    flex: 0 0 100%;
    max-width: 100%;
    color: var(--text-black-900);
}

.projects {
    padding: 0 30px;
    flex: 0 0 100%;
    max-width: 100%;
    color: var(--text-black-900);
}

.skills {
    height: 100vh;
    padding: 0 30px;
    flex: 0 0 100%;
    max-width: 100%;
    color: var(--text-black-900);
}

/* RESPONSIVE */
@media screen and (max-width: 1199px) {
    .side-bar {
        left: -270px;
    }

    .side-bar-responsive {
        width: 270px;
        background: var(--bg-dark-900);
        position: fixed;
        left: 0px;
        top: 0;
        height: 100%;
        border-right: 1px solid rgb(128,128,128, 0.5);
        display: flex;
        justify-content: center;
        z-index: 10;
    }

    .side-bar-responsive .logo {
        color: white;
    }

    .main-content {
        padding-left: 0px;
    }

    .main-content-responsive {
        padding-left: 0px;
    }

    .nav-toggler {
        display: flex;
        left: 30px;
    }

    .nav-toggler-responsive {
        height: 40px;
        width: 45px;
        border: 2px solid var(--bg-dark-700);
        cursor: pointer;
        position: fixed;
        left: 30px;
        top: 18px;
        border-radius: 5px;
        background: var(--bg-dark-900);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-toggler-responsive span {
        height: 2px;
        width: 18px;
        background: var(--skin-color);
        display: inline-block;
        position: relative;
    }
    
    .nav-toggler-responsive span::before {
        content: '';
        height: 2px;
        width: 18px;
        background: var(--skin-color);
        position: absolute;
        top: -6px;
        left: 0;
    }
    
    .nav-toggler-responsive span::after {
        content: '';
        height: 2px;
        width: 18px;
        background: var(--skin-color);
        position: absolute;
        top: 6px;
        left: 0;
    }
}

@media screen and (max-width: 970px) {
    .info-item span {
        margin-left: 0px;
        display: block;
    }
}

@media screen and (max-width: 900px) {
    .home-info {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .home .home-img {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .my-bio {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .info-item span {
        margin-left: 4px;
        display: inline-block;
    }

    .about-btn {
        display: flex;
        margin-bottom: 35px;
        justify-content: center;
    }

    .my-skills {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 470px) {
    .info-item {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .my-skills-box {
        padding-top: 80px;
    }

    .ppp{
        flex-wrap: wrap;
    }
    
    .kills-box {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 414px) {
    .hello {
        font-size: 19px;
    }

    .hello span {
        font-size: 21px;
        
    }

    .my-profession {
        font-size: 16px;
    }

    .home-info p {
        font-size: 14px;
    }
}

.meee {
    display: flex;
    font-weight: 700;
    font-size: 30px;
    margin: 15px 0;
    align-items: center;
}

.text-left {
    font-weight: 700;
    font-size: 30px;
    margin: 15px 0;
}

.text-right {
    color: var(--skin-color);
}