.v2about-item {
    width: 100%;
    display: flex;
    flex: 0 0 100%;
    flex-wrap: nowrap;
}

.v2about-column {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    flex-wrap: nowrap;
}

.about-title {
    text-align: center;
    margin-bottom: 30px;
}

.about-title h2 {
    display: inline-block;
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 1.5px;
    position: relative;
    text-transform: uppercase;
}

.about-title p {
    padding-top: 8px;
    color: var(--white-main-text);
    font-size: 20px;
    letter-spacing: 1.5px;
    line-height: 32px;
    font-weight: 600;
}

.about-title h2::after {
    content: '';
    height: 4px;
    width: 100%;
    background: var(--yellow-accent);
    position: absolute;
    bottom: -2px;
    left: 0;
  }

.v2about-box {
    display: flex;
}


.v2about-item-40 {
    flex: 0 0 40%;
    max-width: 40%;
    display: flex;
    justify-content: center;
}

.v2about-img-con {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.v2about-img-con img {
    margin: auto;
    width: 100%;
}

.v2about-item-60 {
    padding: 18px 0px;
    flex: 0 0 60%;
    max-width: 60%;
}

.v2about-item-60 p {
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--white-main-text);
    font-size: 20px;
    letter-spacing: 1.5px;
    line-height: 32px;
}

.v2about-item-icon-box {
    display: flex;
}

.v2about-item-icon-item {
    flex: 0 0 25%;
    max-width: 25%;
    flex-wrap: nowrap;
}

.v2about-item-icon-item a {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.v2about-item-icon-item i {
    color: var(--white-main-text);
    font-size: 50px;
}

.v2about-item-icon-item i:hover {
    color: var(--yellow-accent);
}

@media screen and (max-width: 500px) {

    .v2about-item {
        padding-top: 20px;
    }
    .v2about-box {
        display: flex;
        flex-direction: column;
    }

    .v2about-item-40 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .v2about-img-con img {
        padding-top: 120px;
        padding-bottom: 10px;
    }
    
    .v2about-item-60 {
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 30px;
        text-align: center;
    }
}