::-webkit-scrollbar {
    display: none;
}

.hidden {
    display: none;
}

.bg-port {
    display: flex;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    padding: 70px 0;
}

.test-con {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}

.test-con-hireme-left {
    flex: 0 0 50%;
    max-width: 50%;
    flex-wrap: nowrap;
    background-color: none;
    padding: 0 10px;
}

.test-con-hireme-right {
    flex: 0 0 50%;
    max-width: 50%;
    flex-wrap: nowrap;
    background-color: none;
    padding: 0 10px;
}

.test-con-left {
    flex: 0 0 70%;
    max-width: 70%;
    flex-wrap: nowrap;
}

.test-con-right {
    flex: 0 0 30%;
    max-width: 30%;
    flex-wrap: nowrap;
}

.test-con-left-con {
    height: 100%;
    display: flex;
    align-items: center;
    background-color: none;
}

.test-con-left-con-100 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: none;
}

.test-con-left-con-col {
    flex: 0 0 100%;
    max-width: 100%;
    font-family: 'Chakra Petch', sans-serif;
    color: white;
    overflow: hidden;
    height: auto;
}

.test-con-left-con-col h4 {
    padding: 10px 0;
    background-color: none;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: var(--white-main-text);
}

.test-con-left-con-col h1 {
    padding: 10px 0;
    background-color: none;
    letter-spacing: 1.5px;
    font-size: 45px;
    text-transform: uppercase;
    color: var(--white-main-text);
    font-weight: 700;
}

.test-con-left-con-col p {
    padding: 10px 0;
    background-color: none;
    letter-spacing: 1.5px;
    color: var(--white-main-text);
}

.test-con-left-action {
    padding-top: 10px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: none;
}

.test-btn-blur-bg {
    color: white;
    letter-spacing: 1.5px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
    background: rgba(255, 255, 255, 0.0);
    padding: 10px 20px;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    transition: all 0.3s linear;
}

.test-btn-blur-bg:hover {
    background: rgba(255, 255, 255, 0.8);
    color: black;
    transition: all 0.3s linear;
}


.test-con-left-action span {
    margin: 0 10px;
}

.test-con-right-con {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.test-con-right-con-imgcon {
    height: 100%;
    width: 100%;
    transition: all 0.3s linear;
    display: flex;
    align-items: center;
}

.test-con-right-con-img {
    width: 100%;
}

.test-con-right-con-imgcon:hover {
    transform: rotate(-33deg);
    transition: all 0.3s linear;
}

.test-con-mail-form-con {
    margin: 30px 0;
}

.test-con-mail-form {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
    background: rgba(255, 255, 255, 0.0);
    padding: 10px 20px;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    color: white;
    letter-spacing: 1.5px;
}

.test-con-mail-form::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: white;
}

.test-con-mail-form:focus {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
    background: rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    color: black;
}

.test-con-mail-button-con {
    color: white;
}

.test-con-hireme-right-con {
    background-color: none;
    padding: 30px 10px;
}

.test-con-hireme-right-con p {
    color: white;
    font-size: 20px;
    letter-spacing: 1.5px;
}

.test-con-hireme-right-con-icon {
    display: flex;
    flex-wrap: wrap;
}

.test-con-hireme-right-con-icon-25 {
    flex: 0 0 25%;
    max-width: 25%;
    flex-wrap: nowrap;
    height: 100%;
    padding: 10px;
    text-align: center;
}

.test-con-hireme-right-con-icon-25 i {
    color: white;
    font-size: 50px;
}

@media screen and (max-width: 820px) {
    .test-con {
        padding: 30px;

    }
    .test-con-left {
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    .test-con-right {
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    .test-con-left-con-col {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .test-con-left-action {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .test-con-left-action span {
        padding: 10px 0;
    }

    .test-con-left-con-col {
        text-align: center;
    }

    .test-con-left-con-col h1 {
        font-size: 30px;
    }

    .test-con-hireme-left {
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    .test-con-hireme-right {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .test-con-hireme-right-con-icon-25 {
        flex: 0 0 50%;
        max-width: 50%;
        height: 100%;
    }
    
}